
.wrap
  display flex
  justify-content center
  align-items center
  width 100%
  min-height 35vh

.wrap--sm
  min-height 12vh
  border-bottom 0.5vh solid #F2B22A

.logo--sm
  transform translate(44px, 20px)

.apostrof--sm
  transform translate(-44px, 7px)

.hidden
  display none
