
.example
  position relative

.narubalie
  background no-repeat center url(./assets/img/logo.svg)
  display flex
  background-size contain
  width 265px
  height 60px
  color: white
  text-align center
  text-transform uppercase

.logo
  display flex
  flex-wrap wrap
  align-content space-between
  justify-content center
  height: 37.75%
