
.example
  position relative

.narubalie
  background no-repeat center url(./assets/img/logo_bg.svg)
  display flex
  background-size contain
  width 200px
  height 35px
  justify-content center
  color: white
  text-align center
  text-transform uppercase
