
.secondarynav
  height 8vh
  display flex
  justify-content center
  align-items center
  width 100vw
  background-color #000

.logo
  height 4vh
  display flex
  margin-left auto
  margin-right auto

.ic-nav
  height 2vh
  display flex
  padding-left 5vw

.ic-search
  height 2vh
  display flex
  padding-right 5vw
  opacity 0