

.project-tag
  width 100%
  margin-left: 30px
  margin-top 4vh
  display flex
  align-items flex-start
  flex-direction column
  flex-wrap wrap
  color #4A4A4A
  font-size 14px
  text-transform uppercase
  &:before
    position: absolute;
    left 7px
    content ''
    background no-repeat center url('./assets/img/Apostrof-sm.svg')
    width 12px
    height 15px

.project
  width 100%
  padding-top: 3vh
  color #CDCDCD
  font-weight 300
  text-transform none

.title
  position absolute
  height 22px
  padding-top: 4px
  padding-bottom: 4px

.cover
  position absolute
  left 0
  opacity 0
  transition 0.7s ease
  &:hover
    opacity 1
