.md-card-media
  display flex
  flex-direction row

.swiper
  display flex
  flex-direction row

.swiper-slide 
  width 60%
  border 1px solid
  border-color #262626
  border-radius 2vw
  background-color #234442
  height 450px
  padding-bottom 40px
  width 90vw
