
.wrap
  border 1px solid
  border-color #262626
  border-radius 2vw
  display flex
  flex-direction column
  background-color #234442
  height 450px
  justify-content flex-end
  padding-bottom 40px


.project-tag
  padding-top 80px
  font-size 200%
  text-transform uppercase
  justify-content flex-end

.title 
  font-size 70%
  text-transform none
  color #fff

.text
  font-size 50%
  text-transform none
  padding-top 0
  color #fff
