.loader
  position relative
  width 100%
  display flex
  justify-content center
  align-items center
  height 35vh
  overflow hidden
  border-top 5px solid #F2B22A

.video
  position absolute
  left 0
  top @left
  min-width 100%
  width auto
  min-height @min-width
  height @width
  background-color #222

.reellink
  position relative
  display flex
  font-family 'Noto Serif', serif
  font-weight 700
  font-size 3vh
  color white
  background-image url(./assets/img/ic_play.svg)
  background-repeat no-repeat
  background-position left 50%
  background-size 3vh
  padding-left: 4vh
  &:hover
    text-decoration: underline
