
.reellink
  display flex
  font-family 'Noto Serif', serif
  font-weight 700
  font-size 3vh
  color white
  background-image url(./assets/img/ic_play.svg)
  background-repeat no-repeat
  background-position left 50%
  background-size 3vh
  padding-left: 4vh
  &:hover
    text-decoration: underline

.loader
  border-top 5px solid #F2B22A

.video-block
  display flex
  justify-content center
  align-items center
  background-color red
  height calc(35vh - 5px)
