
.example
  position relative

.reellink
  display flex
  font-family 'Noto Serif', serif
  font-weight 700
  font-size 24px
  &:hover
    text-decoration: underline

.loader
  border-top: 5px solid #F2B22A

.video-block
  display flex
  justify-content center
  align-items center
  background-color: red
  height: calc(35vh - 5px)
