.mainblock
  display flex
  height 30vh
  justify-content center
  align-items center

.centerblock
  display flex
  align-items center
  height 100%

.herman
  display flex
  width auto
  height 100%

.linksblock
  // display flex
  // flex-wrap wrap
  // align-content: space-around;
  padding-left 4vh

.mainLinks
  display block
  width 100%
  display flex
  font-family 'Noto Serif', serif
  font-weight 700
  font-size 3vh
  &:not(:last-child)
    margin-bottom 4vh
  &:hover
    cursor pointer
    text-decoration: underline
