
.mainLinks
  display flex
  padding 15px 0px 15px 100px
  font-family 'Noto Serif', serif
  font-weight 700
  font-size 3vh
  &:hover
    text-decoration: underline

.mainblock
  display flex
  height 30vh
  justify-content center
  align-items center
  background-image url(./assets/img/herman.png)
  background-repeat no-repeat
  background-position calc(50% - 12vh) 100%
  background-size auto 30vh

.centerblock


.linksblock
  padding: 4vh 0
