

.wrap
  border 1px solid
  border-color #262626
  border-radius 2vw
  display flex
  flex-direction column
  background-image url(assets/img/hello.png)
  background-repeat no-repeat
  background-position bottom right
  @media tablet and (max-width: 599px)
    background-size 20px
  @media screen and (min-width: 600px)
    background-size 90px
  

.h1, text
  display block

.text
  padding-right 200px