
.secondarynav
  position absolute
  bottom 5vh
  right 5vh

.secondarynav--top
  top 5vh
  bottom auto
  .links
    color #333
    font-weight 400

.links
  padding 2vh
  font-size 2vh
  color: white
  font-family: 'Roboto'
  font-weight 300
  &:hover
    cursor pointer
    text-decoration underline
